<tr id="<%= comment.id %>">
	<td>
		<table>
			<tbody>
				<tr>
					<td class="ind">
						<%= image_tag("s.gif", width: 40*depth, height: 1) %>
					</td>
					<td>
						<% url = goto_url(comment.id) %>
						<% if current_user and current_user.voted_up_on? comment %>
							<%= link_to image_tag("uparrow_clicked.gif", title: "undo upvote"), unvote_comment_path(comment, goto: url), method: :put, local: false %>
							<br>
							<%= link_to image_tag("downarrow.gif", title: "downvote"), dislike_comment_path(comment, goto: url), method: :put %>
						<% elsif current_user and current_user.voted_down_on? comment %>
							<%= link_to image_tag("uparrow.gif", title: "upvote"), like_comment_path(comment, goto: url), method: :put %>
							<br>
							<%= link_to image_tag("downarrow_clicked.gif", title: "undo downvote"), unvote_comment_path(comment, goto: url), method: :put %>
						<% else %>
							<%= link_to image_tag("uparrow.gif", title: "upvote"), like_comment_path(comment, goto: url), method: :put %>
							<br>
							<%= link_to image_tag("downarrow.gif", title: "downvote"), dislike_comment_path(comment, goto: url), method: :put %>
						<% end %>
					</td>
					<td class="default">
						<div style="margin-top:2px; margin-bottom:-10px;">
							<span class="comhead">
								<%= comment.cached_votes_score %> points by
        				<%= link_to(comment.user.name, comment.user, class: "hnuser") %>
								<span class="age">
									<%= link_to(time_ago_in_words(comment.created_at) + " ago", comment.submission) %>
								</span>
								<% if comment.user == current_user %>
									|
									<%= link_to 'Destroy', comment_path(comment, goto: submission_path), method: :delete, data: { confirm: 'Are you sure?'} %>
								<% end %>
              </span>
						</div>
						<br>
						<div class="comment">
              <span class="commtext c00"><%= comment.body %></span>
              <div class="reply">
								<p>
									<font size="1">
                    <u>

											<a href="/submissions/<%= comment.submission_id %>/comments/<%= comment.id %>/showreply">reply</a>
										</u>
                  </font>
      					</p>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<% if comment.replies.any? %>
			<%= render partial: comment.replies, locals: {depth: depth+1} if comment.replies.any? %>
		<% end %>
	</td>
</tr>
