<% content_for :body do %>
    <tr>
      <td>
        <table class="fatitem" border="0">
          <tbody>
            <tr>
    					<td class="ind">
    						<%= image_tag("s.gif", width: 0, height: 1) %>
    					</td>
              <td>
    						<% url = goto_url() %>
    						<% if current_user and current_user.voted_up_on? @comment %>
    							<%= link_to image_tag("uparrow_clicked.gif", title: "undo upvote"), unvote_comment_path(@comment, goto: url), method: :put, local: false %>
    							<br>
    							<%= link_to image_tag("downarrow.gif", title: "downvote"), dislike_comment_path(@comment, goto: url), method: :put %>
    						<% elsif current_user and current_user.voted_down_on? @comment %>
    							<%= link_to image_tag("uparrow.gif", title: "upvote"), like_comment_path(@comment, goto: url), method: :put %>
    							<br>
    							<%= link_to image_tag("downarrow_clicked.gif", title: "undo downvote"), unvote_comment_path(@comment, goto: url), method: :put %>
    						<% else %>
    							<%= link_to image_tag("uparrow.gif", title: "upvote"), like_comment_path(@comment, goto: url), method: :put %>
    							<br>
    							<%= link_to image_tag("downarrow.gif", title: "downvote"), dislike_comment_path(@comment, goto: url), method: :put %>
    						<% end %>
              </td>
    					<td class="default">
    						<div style="margin-top:2px; margin-bottom:-10px;">
    							<span class="comhead">
    								<%= @comment.cached_votes_score %> points by
            				<%= link_to(@comment.user.name, @comment.user, class: "hnuser") %>
    								<span class="age">
    									<%= link_to(time_ago_in_words(@comment.created_at) + " ago", @comment.submission) %>
    								</span>
                    <span class="par">
                      |
                      <%= link_to "parent", submission_path(@comment.submission, anchor: @comment.id) %>
                    </span>
                    <span class="storyon">
                      | on:
                      <%= link_to @comment.submission.title, submission_path(@comment.submission) %>
                    </span>
                  </span>
                </div>
    						<br>
    						<div class="comment">
                  <span class="commtext c00"><%= @comment.body %></span>
    						</div>
              </td>
            </tr>
            <tr style="height:10px"></tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <%= form_with model: Comment.new, url: reply_comment_path, local: true do |f| %>
                  <%= f.text_area :body, rows: 7, cols: 50 %>
                  <br>
                  <br>
                  <%= f.submit "Reply" %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
<% end %>
