<% content_for :body do %>
    <tr>
      <td>
        <table class="fatitem" border="0">
            <tr>
                <td>
                    <%= link_to @comment.user.name, @comment.user %>
                    <%= time_ago_in_words(@comment.created_at) %> | on: <%= link_to @submission.title, @submission %>
                </td>
            </tr>
            <tr><td><%= @comment.body %></td></tr>
            <tr>
                <td>
                    <%= form_with model: Comment.new, url: reply_comment_path, local: true do |f| %>
                        <%= f.text_area :body, rows: 7, cols: 50 %>
                        <br>
                        <br>
                        <%= f.submit "Reply" %>
                    <% end %>
                </td>
            </tr>
        </table>
      </td>
    </tr>
<% end %>
