<p id="notice"><%= notice %></p>

<ol>
  <% @news.each do |news| %>
    <li>
      <strong><%= link_to news.title, news %> (<%= news.site %>)</strong>
      <p style="color: grey"><%= news.points %> by <%= news.author %> create at: <%= news.created_at%></p>
      <p><%= news.num_comments %> comments</p>  
    </li>
  <% end %>
</ol>