<%= form_with model: @user, url: user_path, method: :put, local: true do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tbody>
      <tr>
        <td>Name:</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td>Created:</td>
        <td><%= time_ago_in_words(@user.created_at) %> ago</td>
      </tr>
      <% if current_user && current_user.id == @user.id %>
        <tr>
          <td>Email:</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>About:</td>
          <td><%= f.text_area :about, rows: 7, cols: 50 %></td>
        </tr>
        <tr>
          <td><%= f.submit "Update" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
