<% content_for :body do %>
  <tr>
    <td>
      <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tr style="height:10px"></tr>
        <tr>
          <td>
            <table>
              <tbody>
                <div style="margin-left:20px">
                  <p>
                    <strong>Name:</strong>
                    <%= @user.name %>
                  </p>

                  <p>
                    <strong>Created:</strong>
                    <%= time_ago_in_words(@user.created_at) %> ago
                  </p>

                  <% if current_user && current_user.id == @user.id %>
                    <p>
                      <strong>Email:</strong>
                      <%= @user.email %>
                    </p>
                  <% end %>

                  <p>
                    <strong>About:</strong>
                    <%= @user.about %>
                  </p>

                  <p><%= link_to 'Comments', my_comments_path %></p>
                  <p><%= link_to 'Submissions', my_submissions_path %></p>

                  <% if current_user && current_user.id == @user.id %>
                    <p><%= link_to 'Upvoted Comments', my_voted_comments_path %></p>
                    <p><%= link_to 'Upvoted Submissions', my_voted_submissions_path %></p>
                    <%= link_to '<button type="button">Edit User</button>'.html_safe, edit_user_path(@user) %>
                  <% end %>

                </div>
                <tr class="spacer" style="height:20px"></tr>
              </tbody>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
<% end %>
