<p id="notice"><%= notice %></p>

<ol>
  <% @news.each do |news| %>
    <% unless news.site == "" %>
      <li>
        <strong><%= link_to news.title, news %> (<%= news.site %>)</strong>
        <p style="color: grey"><%= news.points %> by <%= news.author %> create at: <%= news.created_at%></p>
        <p><%= news.num_comments %> comments</p>  
      </li>
    <% end %>
  <% end %>
</ol>

<% if false %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Site</th>
      <th>Body</th>
      <th>Points</th>
      <th>Author</th>
      <th>Num comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |news| %>
      <tr>
        <% unless news.site == "" %>
          <td><%= news.title %></td>
          <td><%= news.site %></td>
          <td><%= news.body %></td>
          <td><%= news.points %></td>
          <td><%= news.author %></td>
          <td><%= news.num_comments %></td>
          <td><%= link_to 'Show', news %></td>
          <td><%= link_to 'Edit', edit_news_path(news) %></td>
          <td><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>
