<%= form_with(model: submission, local: true) do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table border="0">
    <tr>
      <td>
        <%= form.label :title %>
      </td>
      <td>
        <%= form.text_field :title, id: :contribution_title, size: 50 %>
      </td>
    </tr>
    <tr>
      <td>
        <%= form.label :url %>
      </td>
      <td>
        <%= form.text_field :url, id: :contribution_url, size: 50 %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><b>or</b></td>
    </tr>
    <tr>
      <td>
        <%= form.label :text %>
      </td>
      <td>
        <%= form.text_area :text, id: :contribution_text, rows: 4, cols: 49 %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= form.submit %>
      </td>
    </tr>
  </table>
  <br>
  <div class="message">
    <%= form.label "Leave url blank to submit a question for discussion."%>
  </div>
  
  <div class="message">
    <%= form.label "If there is no url, the text (if any) will appear at the top of the thread."%>
  </div>
  
<% end %>
