<%= form_with model: @submissions, url: submissions_path do |form| %>
  <% if submission.errors.any? %>
    <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>
  <% end %>
  <table border="0">
    <tbody>
      <tr>
        <td><%= form.label :title, "title" %></td>
        <td>
          <%= form.text_field :title, id: :submission_title, name: :title, size: 50 %>
        </td>
      </tr>
      <tr>
        <td><%= form.label :url, "url" %></td>
        <td><%= form.text_field :url, id: :submission_url, name: :url, size: 50 %></td>
      </tr>
      <tr>
        <td></td>
        <td><b>or</b></td>
      </tr>
      <tr>
        <td><%= form.label :text, "text" %></td>
        <td><%= form.text_area :text, id: :submission_text, name: :text, rows: 4, cols: 49 %></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><%= form.submit "submit" %></td>
      </tr>
      <tr style="height:20px"></tr>
      <tr>
        <td></td>
        <td>Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the thread.
          <br><br> You can also submit via <a href="#" rel="nofollow"><u>bookmarklet</u></a>.</td>
      </tr>
      <% submission.errors.full_messages.each do |message| %>
        <tr>
          <td><%= message %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
