<% content_for :body do %>
  <tr>
    <td>
      <table class="itemlist" cellspacing="0" cellpadding="0" border="0">
        <tbody>
          <% @submissions.each_with_index do |submission, index| %>
              <tr class="athing" id="<%= submission.id %>">
                <td class="title" valign="top" align="right" width="23px">
                  <span class="rank"><%= index + 1 %>.</span>
                </td>
                <td>
      						<% url = request.original_url + "#" + submission.id.to_s %>
                  <% if current_user and current_user.voted_up_on? submission %>
                    <%= link_to image_tag("uparrow_clicked.gif", title: "undo upvote"), unvote_submission_path(submission, goto: url), method: :put, local: false %>
                    <br>
                    <%= link_to image_tag("downarrow.gif", title: "downvote"), dislike_submission_path(submission, goto: url), method: :put %>
                  <% elsif current_user and current_user.voted_down_on? submission %>
                    <%= link_to image_tag("uparrow.gif", title: "upvote"), like_submission_path(submission, goto: url), method: :put %>
                    <br>
                    <%= link_to image_tag("downarrow_clicked.gif", title: "undo downvote"), unvote_submission_path(submission, goto: url), method: :put %>
                  <% else %>
                    <%= link_to image_tag("uparrow.gif", title: "upvote"), like_submission_path(submission, goto: url), method: :put %>
                    <br>
                    <%= link_to image_tag("downarrow.gif", title: "downvote"), dislike_submission_path(submission, goto: url), method: :put %>
                  <% end %>
                </td>
                <td class="title" valign="top">
                  <% if is_url?(submission) %>
                    <a href="<%= submission.url %>" class="storylink"><%= submission.title %></a>
                    <span class="sitebit comhead">
                      (<a href="<%= submissions_path %>?site=<%= shorten_url(submission.url) %>"><span class="sitestr"><%= shorten_url(submission.url) %></span></a>)
                    </span>
                  <% else # if ask %>
                    <%= link_to submission.title, submission, class: "storylink" %>
                  <% end %>
                </td>
              </tr>
              <%= render partial: 'subtitle', locals: {submission: submission} %>
              <tr class="spacer" style="height:5px"></tr>

          <% end %>
          <tr class="morespace" style="height:10px"></tr>
          <tr>
            <td colspan="2"></td>
            <td class="title">
              <a href="#" class="morelink" rel="nofollow">More</a>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
<% end %>
