<% render 'header'%>
<% render 'footer' %>

<% content_for :body do %>
  <tr>
    <td>
      <table class="itemlist" cellspacing="0" cellpadding="0" border="0">
        <tbody>
          <% @submissions.each_with_index do |submission, index| %>
              <tr class="athing" id="<%= submission.id %>">
                <td class="title" valign="top" align="right" width="23px">
                  <span class="rank"><%= index + 1 %>.</span>
                </td>
                <td class="votelinks" valign="top">
                  <center>
                    
                  </center>
                </td>
                <td class="title">
                  <a href="<%= submission.url %>" class="storylink"><%= submission.title %></a>
                  <% if is_url?(submission) %>
                    <span class="sitebit comhead">
                      (
                      <a href="?site=<%= submission.url %>">
                        <span class="sitestr"><%= submission.url %></span>
                      </a>
                      )
                    </span>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  <span class="score" id="score_<%= submission.id %>"><%= submission.points %> points</span>
                  by
                  <%= @users.find(submission.user_id).name %>
                  <span class="age">
                    <%= link_to humanize_time(Time.now() - submission.created_at), item_path(id: submission.id) %>
                  </span>
                  <span id="unv_<%= submission.id %>"></span>
                  |
                  <a href="#" onclick="return hidestory(event, this, <%= submission.id %>)">hide</a>
                  |
                  <% comment_or_discuss = submission.num_comments == 0 ? "discuss" : "#{submission.num_comments} comments" %>
                  <%= link_to(comment_or_discuss, item_path(id: submission.id)) %>
                  |
                  <%= link_to 'Upvote',  like_submission_path(submission), method: :put %>
                    <span>=></span> <%= submission.get_upvotes.size %>
                  |
                  <%= link_to 'Downvote', dislike_submission_path(submission), method: :put %>
                    <span>=></span> <%= submission.get_downvotes.size %> 
                </td>
              </tr>
              <tr class="spacer" style="height:5px"></tr>

          <% end %>
          <tr class="morespace" style="height:10px"></tr>
          <tr>
            <td colspan="2"></td>
            <td class="title">
              <a href="#" class="morelink" rel="nofollow">More</a>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
<% end %>
