<% content_for :body do %>
  <tr>
    <td>
      <table class="itemlist" cellspacing="0" cellpadding="0" border="0">
        <tbody>
          <% @submissions.each_with_index do |submission, index| %>
              <tr class="athing" id="<%= submission.id %>">
                <td class="title" valign="top" align="right" width="23px">
                  <span class="rank"><%= index + 1 %>.</span>
                </td>
                <td class="votelinks" valign="top">
                  <center>

                  </center>
                </td>
                <td class="title">
                  <a href="<%= submission.url %>" class="storylink"><%= submission.title %></a>
                  <% if is_url?(submission) %>
                    <span class="sitebit comhead">
                      (<a href="?site=<%= submission.url %>"><span class="sitestr"><%= submission.url %></span></a>)
                    </span>
                  <% end %>
                </td>
              </tr>
              <%= render partial: 'subtitle', locals: {submission: submission} %>
              <tr class="spacer" style="height:5px"></tr>

          <% end %>
          <tr class="morespace" style="height:10px"></tr>
          <tr>
            <td colspan="2"></td>
            <td class="title">
              <a href="#" class="morelink" rel="nofollow">More</a>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
<% end %>
