<% content_for :body do %>
  <tr>
      <td>
          <table class="fatitem" border="0">
              <tbody>
                  <tr class="athing" id="<%= @submission.id %>">
                    <td class="title" valign="top" align="right"><span class="rank"></span></td>
                    <td class="votelinks" valign="top">
                        <center>
                            <a id="up_<%= @submission.id %>" onclick="return vote(event, this, &quot;up&quot;)" href="vote?id=<%= @submission.id %>&amp;how=up&amp;auth=92cb51c4b464e08e6189f52037c4afb9a78cf472&amp;goto=item%3Fid%3D<%= @submission.id %>">
                                <div class="votearrow" title="upvote"></div>
                            </a>
                        </center>
                    </td>
                    <td class="title">
                      <a href="" class="storylink"><%= @submission.title %></a>
                      <% if is_url?(@submission) %>
                        <span class="sitebit comhead">
                          (<a href="#from?site=<%= @submission.url %>"><span class="sitestr"><%= @submission.url %></span></a>)
                        </span>
                      <% end %>
                    </td>
                  </tr>
                  <%= render partial: 'subtitle', locals: {submission: @submission} %>
                  <tr style="height:2px"></tr>
                  <tr>
                      <td colspan="2"></td>
                      <td><%= @submission.text %></td>
                  </tr>
                  <tr style="height:10px"></tr>
                  <tr>
                    <td colspan="2"></td>
                        <td>
                            <h3 class="comments_title">
                                <%= @submission.comments.count %> Comments
                            </h3>
                            <div id="comments">
                                <%= render :partial => @submission.comments %>
                            </div>
                            <%= simple_form_for [@submission, Comment.new] do |f| %>
                                <div class="field">
                                    <%= f.text_area :body, rows: 7, cols: 50 %>
                                </div>
                                <br>
                                <%= f.submit "Add Comment" %>
                            <% end %>
                      </td>
                  </tr>
              </tbody>
          </table><br><br>
      </td>
  </tr>
<% end %>
