<% content_for :body do %>
  <tr>
    <td>
      <table class="fatitem" border="0">
        <tbody>
          <tr class="athing" id="<%= @submission.id %>">
            <td class="title" valign="top" align="right"><span class="rank"></span></td>
            <td>
              <% url = goto_url(@submission.id) %>
              <% if user_is_logged? and @submission.user != current_user %>
                <% if current_user.voted_up_on? @submission %>
                  <%= link_to image_tag("uparrow_clicked.gif", title: "undo upvote"), unvote_submission_path(@submission, goto: url), method: :put, local: false %>
                  <br>
                  <%= link_to image_tag("downarrow.gif", title: "downvote"), dislike_submission_path(@submission, goto: url), method: :put %>
                <% elsif current_user and current_user.voted_down_on? @submission %>
                  <%= link_to image_tag("uparrow.gif", title: "upvote"), like_submission_path(@submission, goto: url), method: :put %>
                  <br>
                  <%= link_to image_tag("downarrow_clicked.gif", title: "undo downvote"), unvote_submission_path(@submission, goto: url), method: :put %>
                <% else %>
                  <%= link_to image_tag("uparrow.gif", title: "upvote"), like_submission_path(@submission, goto: url), method: :put %>
                  <br>
                  <%= link_to image_tag("downarrow.gif", title: "downvote"), dislike_submission_path(@submission, goto: url), method: :put %>
                <% end %>
              <% end %>
            </td>
            <td class="title">
              <a href="<%= @submission.url %>" class="storylink"><%= @submission.title %></a>
              <% if is_url?(@submission) %>
                <span class="sitebit comhead">
                  (<a href="<%= submissions_path %>?site=<%= shorten_url(@submission.url) %>"><span class="sitestr"><%= shorten_url(@submission.url) %></span></a>)
                </span>
              <% end %>
            </td>
          </tr>
          <%= render partial: 'subtitle', locals: {submission: @submission} %>
          <tr style="height:2px"></tr>
          <tr>
            <td colspan="2"></td>
            <td><%= @submission.text %></td>
          </tr>
          <tr style="height:10px"></tr>
          <tr>
            <td colspan="2"></td>
            <td>
              <h3 class="comments_title">
                <%= @submission.comments.count %> Comments
              </h3>
              <%= simple_form_for [@submission, Comment.new] do |f| %>
                <%= f.text_area :body, rows: 7, cols: 50 %>
                <br>
                <br>
                <%= f.submit "Add Comment" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <br>
      <table class="comment-tree" border="0">
        <tbody>
          <% @submission.replies.each do |comment| %>
            <%= render partial: comment, locals: {depth: 0} %>
          <% end %>
        </tbody>
      </table>
    </td>
  </tr>
<% end %>
