<% render 'header'%>
<% render 'footer' %>

<% content_for :body do %>
    <tr>
        <td>
          <h1>Submission</h1>
          <table>
            <thead>
              <tr>
                <th>Submission title</th>
                <th>Author</th>
                <th>Text</th>
                <th>Created at</th>
                <th colspan="4"></th>
              </tr>
            </thead>

            <tbody>
              <% @submissions.each do |submission| %>
                <% if submission.user == current_user %>
                  <tr>
                    <td><a href= "/submissions/<%= submission.id %>"><%= submission.title %></a></td>
                    <td><a href= "/users/<%= submission.user.id %>"> <%= submission.user.name %></a></td>
                    <td><%= submission.text %></td>
                    <td><%= humanize_time(Time.now() - submission.created_at) %></td>
                    <!--td><%= link_to 'Show', submission %></td>
                    <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
                    <td><%= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' } %></td -->
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </td>
    </tr>
<% end %>