<% content_for :head do %>
  <title>Hacker News</title>
<% end %>

<% content_for :menu_bar do %>
  <td style="line-height:12pt; height:10px;">
    <span class="pagetop">
      <b class="hnname">
        <%= link_to 'Hacker News', news_menu_path %>
      </b>
      <% if ! current_user %>
        <a href="#">welcome</a>
        |
      <% end %>
      <%= link_to 'new',  newest_menu_path %>
      |
      <% if current_user %>
        <%= link_to "threads", comments_path(created_by: current_user.id) %>
        |
      <% end %>
      <%= link_to 'comments', comments_path %>
      |
      <a href="#">show</a>
      |
      <%= link_to 'ask',  ask_menu_path %>
      |
      <%= link_to 'swagger editor', swagger_editor_path %>
      |
      <%= link_to 'submit', new_submission_path %>
    </span>
  </td>
  <td style="text-align:right;padding-right:4px;">
    <span class="pagetop">
      <% if current_user %>
        <%= link_to current_user.name, current_user %>
        |
        <%= link_to "logout", logout_path %>
      <% else %>
        <a href="auth/google_oauth2">login</a>
      <% end %>
    </span>
  </td>
<% end %>
