<!DOCTYPE html>
<html op="news">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.ico' %>
    <!-- <link rel="alternate" type="application/rss+xml" title="RSS" href="https://news.ycombinator.com/rss"> -->
    <title>Hacker News</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <center>
      <table id="hnmain" width="85%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f6f6ef">
        <tbody>
          <tr>
            <td bgcolor="#ff6600">
              <table style="padding:2px" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                  <tr>
                    <td style="width:18px;padding-right:4px">
                      <%= link_to image_tag("y18.gif", :style => "border:1px white solid;", :width => 18, :height => 18), root_path, :style => "height: 16pt;" %>
                    </td>
                    <td style="line-height:12pt; height:10px;">
                      <span class="pagetop">
                        <b class="hnname">
                          <%= link_to 'Hacker News', news_index_path %>
                        </b>
                        <a href="#">welcome</a>
                        |
                        <%= link_to 'new',  newest_path %>
                        |
                        <a href="#">threads</a>
                        |
                        <a href="#">comments</a>
                        |
                        <a href="#">show</a>
                        |
                        <a href="#">ask</a>
                        |
                        <a href="#">jobs</a>
                        |
                        <%= link_to 'submit', new_news_path %>
                      </span>
                    </td>
                    <td style="text-align:right;padding-right:4px;">
                      <span class="pagetop">
                        <a id="me" href="#">aswlabs</a>
                        (1) |
                        <a id="logout" href="#">logout</a>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr style="height:10px"></tr>
          <tr>
            <td>
              <table class="itemlist" cellspacing="0" cellpadding="0" border="0">
                <tbody>

                  <!-- <tr class="athing" id="18336202">
                    <td class="title" valign="top" align="right">
                      <span class="rank">1.</span>
                    </td>
                    <td class="votelinks" valign="top">
                      <center>
                        <a id="up_18336202" onclick='return vote(event, this, "up")' href="https://news.ycombinator.com/vote?id=18336202&amp;how=up&amp;auth=82ffa3bbc57e8f84bcfc87c0d5127d61661b2131&amp;goto=news">
                          <div class="votearrow" title="upvote"></div>
                        </a>
                      </center>
                    </td>
                    <td class="title">
                      <a href="https://www.nature.com/articles/d41586-018-07196-1" class="storylink">Why Jupyter is data scientists’ computational notebook of choice</a>
                      <span class="sitebit comhead">
                        (
                        <a href="https://news.ycombinator.com/from?site=nature.com">
                          <span class="sitestr">nature.com</span>
                        </a>
                        )
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2"></td>
                    <td class="subtext">
                      <span class="score" id="score_18336202">242 points</span>
                      by
                      <a href="https://news.ycombinator.com/user?id=sohkamyung" class="hnuser">sohkamyung</a>
                      <span class="age">
                        <a href="https://news.ycombinator.com/item?id=18336202">3 hours ago</a>
                      </span>
                      <span id="unv_18336202"></span>
                      |
                      <a href="https://news.ycombinator.com/hide?id=18336202&amp;goto=news&amp;auth=82ffa3bbc57e8f84bcfc87c0d5127d61661b2131" onclick="return hidestory(event, this, 18336202)">hide</a>
                      |
                      <a href="https://news.ycombinator.com/item?id=18336202">107&nbsp;comments</a>
                    </td>
                  </tr>
                  <tr class="spacer" style="height:5px"></tr> -->

                  <%= yield %>

                  <tr class="morespace" style="height:10px"></tr>
                  <tr>
                    <td colspan="2"></td>
                    <td class="title">
                      <a href="#" class="morelink" rel="nofollow">More</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <img src="#" width="0" height="10">
              <table width="100%" cellspacing="0" cellpadding="1">
                <tbody>
                  <tr>
                    <td bgcolor="#ff6600"></td>
                  </tr>
                </tbody>
              </table>
              <br>
              <center>
                <span class="yclinks">
                  <a href="#">Guidelines</a>
                  |
                  <a href="#">FAQ</a>
                  |
                  <a href="#">Support</a>
                  |
                  <a href="#">API</a>
                  |
                  <a href="#">Security</a>
                  |
                  <a href="#">Lists</a>
                  |
                  <a href="#" rel="nofollow">Bookmarklet</a>
                  |
                  <a href="#">Legal</a>
                  |
                  <a href="#">Apply to YC</a>
                  |
                  <a href="#">Contact</a>
                </span>
                <br>
                <br>
                <form method="get" action="#">Search:
                  <input name="q" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false" type="text">
                </form>
              </center>
            </td>
          </tr>
        </tbody>
      </table>
    </center>
  </body>
</html>
